$red: #EA0029;
$orange: #F53A31;
$gray: #BEC5CC;
$gradient-red: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;

$button-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);

@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
